.hero section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero img {
  display: block;
  border-radius: 50%;
  height: 320px;
}

.hero h1 {
  font-family: 'Bebas Neue', cursive;
  margin-top: 150px;
  text-align: center;
}
