.contactList {
  margin-top: 10px;
  list-style: none;
}

.listItem {
  display: flex;
  margin-top: 8px;
  align-items: center;
  font-size: 1.1rem;
}

.listItem::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 5px;
  background-color: #007bff;
}

.number {
  margin-left: 8px;
}

.deleteButton {
  display: block;
  width: 60px;
  height: 25px;
  margin-left: 15px;
  padding: 0;
  border: none;
  transition: all 400ms ease;
}

.deleteButton:hover,
.deleteButton:focus {
  background-color: rgba(255, 19, 19, 0.808);
  transition: all 400ms ease;
}

// error message
.error_message {
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
}
